<a href="https://colab.research.google.com/github/thunderdog101/database/blob/main/HMWK7mapsMarkH_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notebook imports positions of settlements in Israel for mapping**

In [ ]:
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn import datasets, linear_model
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import TSNE
import pandas as pd
import altair as alt
from matplotlib import pyplot as plt
import seaborn as sns
git_loc_db = 'https://raw.githubusercontent.com/thunderdog101/database/main/samples/Israel_Settlements.csv'
df= pd.read_csv(git_loc_db)
df.columns = df.columns.str.replace(' ','_')                                          # replace space with underscore

In [ ]:
df.head()

             Name  Hebrew_Name  ...  2000_Population Unnamed:_11
0           Adora        אדורה  ...            271.0         NaN
1      Alei Zahav      עלי זהב  ...            391.0         NaN
2   Alfei Menashe    אלפי מנשה  ...           4580.0         NaN
3           Almog        אלמוג  ...            167.0         NaN
4  Almon (Anatot)  עלמון ענתות  ...            698.0         NaN

[5 rows x 12 columns]

## **FOLIUM**

**HTML code for icon popup display**

In [ ]:
def fancy_html(row):   
    i = row
    
    Name_of_Settlement = df['Name'].iloc[i]                           # contents of the popups shown here      
    Year_Established = df['Year_Established'].iloc[i]                           
    Regional_Council = df['Regional_Council'].iloc[i]
    Year_2000_Population = df['2000_Population'].iloc[i]                                           
    Year_2005_Population = df['2005_Population'].iloc[i]                               
    Year_2010_Population = df['2010_Population'].iloc[i]   
    Year_2015_Population = df['2015_Population'].iloc[i]                           
    
    left_col_colour = "#2A799C"
    right_col_colour = "#C5DCE7"
    
    html = """<!DOCTYPE html>
<html>

<head>
 

</head>
    <table style="height: 126px; width: 300px;">
<tbody>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Name_of_Settlement</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Name_of_Settlement) + """
</tr>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Year_Established</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Year_Established) + """
</tr>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Regional_Council</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Regional_Council) + """
</tr>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Year_2000_Population</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Year_2005_Population) + """
</tr>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Year_2010_Population</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Year_2010_Population) + """
</tr>
<tr>
<td style="background-color: """+ left_col_colour +""";"><span style="color: #ffffff;">Year_2015_Population</span></td>
<td style="width: 200px;background-color: """+ right_col_colour +""";">{}</td>""".format(Year_2015_Population) + """
</tr>
</tbody>
</table>
</html>
"""
    return html

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
import folium                                                                            # displays map of Israel with settlement positions
from folium import plugins
import branca                                                                             # branca adds non-map specific features
                                                                                          
coords = df[['Latitude' , 'Longitude']]
locationlist = coords.values.tolist()

m = folium.Map(location=[31.6584, 35.0884], zoom_start=9)
marker_cluster = folium.plugins.marker_cluster.MarkerCluster().add_to(m)                  # create clusters of the position icons

for point in range(0, len(locationlist)):
    html = fancy_html(point)                                                        # fancy_html uses function to organized popup display
    iframe = branca.element.IFrame(html=html, width=400,height=300)
    popup = folium.Popup(iframe,parse_html=True)
    folium.Marker([df['Latitude'].iloc[point],df['Longitude'].iloc[point]],               # place markers at each settlement location
    popup=popup,icon=folium.Icon(color='blue', icon='info-sign')).add_to(marker_cluster)  # icon formatting & add the clustering

folium.TileLayer('stamenterrain').add_to(m)                                               # various tiles to try
folium.TileLayer('OpenStreetMap').add_to(m)
folium.TileLayer('Mapbox Control Room').add_to(m)
folium.LayerControl().add_to(m)                                                           # create legend to change tiles
m.add_child(folium.LatLngPopup())                                                     # click anywhere on map for GPS coordinates popup

# m.save(outfile= 'mapCluster.html')                                                      # saves map in html format
m

In [ ]:
# m.add_child(plugins.HeatMap(df_lat_lng))
# m.add_child(folium.LatLngPopup())
# m                                                             # prints heat map of Israel for positions of each settlement